{
  "presets": ["@babel/preset-env", "@babel/react"],
  "plugins": ["react-hot-loader/babel",
    ["react-css-modules", {
      "exclude": "node_modules",
      "webpackHotModuleReloading": true
      }]]
}
